.small-code pre code {
  font-size: 1em;
}


.reveal h1  {
    font-size: 1.5em;
    font-variant: normal;
    font-weight: bold;
}

.reveal h1.title  {
    font-size: 2em;
    font-variant: normal;
    font-weight: bold;
}

td {
  position:relative;
  top: -100%;
  vertical-align: top;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}