.small-code pre code {
  font-size: 1em;
}


.reveal h1  {
    font-size: 1.5em;
    font-variant: normal;
    font-weight: bold;
}

.reveal h1.title  {
    font-size: 2em;
    font-variant: normal;
    font-weight: bold;
}

td {
  position:relative;
  top: -100%;
  vertical-align: top;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

#noborder {
  border:0px;
  box-shadow: 0 0 0 0;
}

.reveal h2 {
  font-size: 1.4em; }
  
.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #222; }

.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: 0 0 0 0;
  text-align:center;
}
  
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.7em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }